 
  
body{
    margin: 0px;
    background-color: #212529;
}
h1{
    color: white;
}
.itemBox{
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(225, 211, 193);
}
.itemBox:hover{
    
}
#coursesArea, #mentorsArea{
    padding: 10px 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #363c42;
    margin-bottom: 20px;
}